
#austria-container,
#czechia-container,
#poland-container,
#slovakia-container,
#romania-container,
#hungary-container,
#bulgaria-container,
#slovenia-container,
#croatia-container {
    height: 30px;
    width: 30px;
    position: absolute;
    
}
#timer {
    padding: 10px 20px;
}



#europe{
    width: 100%;
    height: auto;
    max-width: 600px;
}