
body {
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.group:before,
.group:after {
    content: " "; 
    display: table;
}
.group:after {
    clear: both;
}


header , footer {
    background: rgb(29, 29, 29);
    padding: 1.5em;
    color: rgba(255, 255, 255, 0.8);
}

header {
    margin-bottom: 30px;
}

.description {
    background-color: rgba(238, 130, 238, 0.5);
    width: 75%;
    margin: 0 auto 30px;
    padding: 4px 6px;
    border: 1px solid black;
}

#demo {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.356);
    padding: 1px 3px;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
}

.wrap {
    position: relative;
    float: left;
    width: 500px;
}

#blindMap {
    width: 100%;
    height: auto;
    margin: 0;
}

.list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0;
}

.list li {
    margin: 0 -5%;
}

.list div {
    width: 100%;
}

.list img {
    width: 62.5%;
}

.draggable {
    position: relative;
    z-index: 10;
}

#droppable-items {
    width: 100%;

    .droppable {
        position: absolute;
        // background-color: #00a884;
        // border: 1px solid black;
    }
    
    #dropPart1 {
        height: 20.9523%; //132.43/630.63
        width: 12%; //60/500
        top: 6.8421%; //39/570
        left: 8.4%; //42/500
    }

    #dropPart2 {
        height: 8.77%; //50/570
        width: 10%; //50/500
        top: 26.842%; //153/570
        left: 22.4%; //112/500
    }

    #dropPart3 {
        height: 7.017%; //40/570
        width: 12%; //60/500
        top: 38.07%; //217/570
        left: 24.6%;  //123/500
    }

    #dropPart4 {
        height: 8.77%; //50/570
        width: 8%; //40/500
        top: 22.45%; //128/570
        left: 25.4%; //127/500
    }

    #dropPart5 {
        height: 12.28%; //70/570
        width: 9%;  //45/500
        top: 23.157%; //132/570
        left: 48.8%; //244/500
    }

    #dropPart6 {
        height: 12.28%; //70/570
        width: 9%;  //45/500
        top: 14.5614%; //83/570
        left: 54.4%; //272/500
    }

    #dropPart7 {
        height: 7.017%; //40/570
        width: 8%;  //40/500
        top: 39.122%; //223/570
        left: 42.4%; //212/500
    }

    #dropPart8 {
        height: 12.28%; //70/570
        width: 8%;  //40/500
        top: 14.035%; //80/570
        left: 67.8%; //339/500
    }

    #dropPart9 {
        height: 8.7719%; //50/570
        width: 16%; //80/500
        top: 10.35%; //59/570
        left: 23%; //115/500
    }

    #dropPart10 {
        height: 7.017%; //40/570
        width: 10%;   //50/500
        top: 33.684%; //192/570
        left: 15.8%; //79/500
    }
}

#myTimer {
    background-image: linear-gradient(to right top, #098e33, #00a884, #00bdc3, #7bceea, #c5dffa, #d9e2ff, #ede4ff, #ffe8ff, #ffd3ea, #ffc3b0, #ffc866, #dbdb24);
    width: 40%;
    min-width: 170px;
    margin: 30px auto 100px;
    border: 4px solid black;
}

#start,
#reset {
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

#start {
    background: #098e33;
}

#reset {
    background: #dbdb24;
}

.result_time {
    font-weight: bolder;
    color: rgb(192, 26, 26);
}


/* MEDIA QUERIES */
@media ( max-width: 992px ){
    .wrap {
        width: 400px;
    }

    .list img {
        width: 50%;
    }
}


@media ( max-width: 768px ){

    .wrap {
        width: 300px;
    }

    .list img {
        width: 37.5%;
    }

    .description {
        font-size: 14px;
    }

    #myTimer {
        margin-bottom: 50px;
    }

    #myTimer h3{
        font-size: 20px;
    }

    #start,
    #reset {
        padding: 3px 9px;
    }
}

@media ( max-width: 700px ){
    .wrap {
        float: none;
        margin: 0 auto;
    }

    .list li {
        margin: 0 -8%;
    }

    #myTimer {
        margin-top: 0;
    }
}

    
@media ( max-width: 556px ){
    .wrap {
        width: 250px;
    }

    .list {
        margin-top: 10px;
    }

    .list img {
        width: 31.25%;
    }
}



