#breadcrumb {
    display: none;
}
cale-ndar {
    display: none;
}
h1 {
    text-align: center;
}

footer {
    max-width: 100%;
}
.footer .copyright {
    background-color: #fff;
}
footer.bg-dark {
    background-color: transparent !important;
    color: #000 !important;
    border-top: 2px solid #000;
}
a {
    color: #000;
}

.gamecard {
    display: block;
}
html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Vollkorn', serif;
    height: 100%;
    width: 100%;
    min-width: 380px;
    margin: 0;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    color: #000 !important;
}

.main-header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    position: relative;
}
@media screen and (max-width: 1200px) {
    section {
        height: 50%;
    }
    .center__text {
        font-size: 4rem;
    }
    .check-checked{
        width: 15%;
    }
    #checklist-frame{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .gamecard {
        margin-top: -120px;
    }
    section{
        height: 50%;
    }
    .center__text {
        font-size: 9rem;
    }
    .check-checked{
        width: 9%;
    }
    #checklist-frame{
        width: 80%;
    }
}

.gamecard a { 
    color: inherit; 
} 

.gamecard{
    min-width: 200px;
    min-height: 250px;
    margin-bottom: 10px;
    /* border: 2px solid black ; */
   
    /* opacity: 0.8; */
}

.gamecard-bg{
    width: 80%;
    border-radius: 8px;
    padding: 5% 15% 15% 15%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}

.preview-img{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.gamepreview h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;;
}

.gamecard-description{
    /* margin-left: 10%;
    margin-right: 10%; */
    font-size: medium;
}

.author-gamecard{
    vertical-align:bottom;
    float: right;
    font-weight: bolder;
    margin-top: 10px;
}

#contact{
width: 100%;
/* border: 3px solid red; */
}

.contact-person {
    /* border: 3px solid black; */
}
.contact-person img{
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35%;
}

.contact-name{
    font-size: 90%;
    font-weight: bolder;
}
.contact-info{
    font-size: 65%;
}





/******************************/


.center {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
}
.center__text {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.glitch {
    position: relative;
    max-width: fit-content;
}
.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0);
}

.glitch:hover:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}
#check-bg{
    background: none !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    position: relative;
}

#checklist-frame{
    min-height: 500px;   
    background-color:rgba(230, 230, 230, 0.85);
    margin: auto;
}

.check-checked{
    height: 20px;
    display: block;
}

#checklist-frame table td,tr{
    text-align: center;
}


/* 
*  --- continents_info.html ---
*/
#continents h1{
    text-align: center;
    padding: .5em 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.continent {
}

.continent .container {
    padding: 7% 10%;
}

.continent h2 {
    font-size: 3em;
}

.continent p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 8px 12px;
    border: 6px solid rgba(255, 255, 255, 0.479);
    border-radius: 3px;
}

.continent a {
    color: black;
    font-weight: 600;
    padding: 4px 8px;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
}

.continent a:hover {
    color: black;
    transition: .3s all ease-in-out;
}



.africa ,
.america,
.antarctica,
.asia,
.australia,
.europe {
    background-size: cover;
    background-repeat: no-repeat;
}


/* KONTAKT PAGE */
.kontakt-page section {
    height: auto;
}
.kontakt-page footer {
    margin-top: 0 !important;
}
.kontakt-page header {
    text-align: center;
    padding: .5em 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.kontakt-page .person {
    text-align: center;
    margin-bottom: 50px;
}
.kontakt-page .person img {
    width: 100%;
    border-radius: 35%;
    padding-bottom: 20px;
}
