html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Vollkorn', serif;
    height: 100%;
    width: 100%;
    min-width: 380px;
    margin: 0;
    background-image: url("../img/bg-1.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.main-header{
    background-image: url("../img/37030.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    position: relative;
}
@media screen and (max-width: 1200px) {
    section {
        height: 50%;
    }
    .center__text {
        font-size: 4rem;
    }
    .check-checked{
        width: 15%;
    }
    #checklist-frame{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .gamecard {
        margin-top: -120px;
    }
    section{
        height: 50%;
    }
    .center__text {
        font-size: 9rem;
    }
    .check-checked{
        width: 9%;
    }
    #checklist-frame{
        width: 80%;
    }
}

.gamecard a { 
    color: inherit; 
} 

.gamecard{
    min-width: 200px;
    min-height: 250px;
    margin-bottom: 10px;
    /* border: 2px solid black ; */
   
    /* opacity: 0.8; */
}

.gamecard-bg{
    background-color: white;
    width: 80%;
    border-radius: 8px;
    padding: 5% 15% 15% 15%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}

.preview-img{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.gamepreview h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;;
}

.gamecard-description{
    /* margin-left: 10%;
    margin-right: 10%; */
    font-size: medium;
}

.author-gamecard{
    vertical-align:bottom;
    float: right;
    font-weight: bolder;
    margin-top: 10px;
}

#contact{
width: 100%;
/* border: 3px solid red; */
}

.contact-person {
    /* border: 3px solid black; */
}
.contact-person img{
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35%;
}

.contact-name{
    font-size: 90%;
    font-weight: bolder;
}
.contact-info{
    font-size: 65%;
}





/******************************/


.center {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
}
.center__text {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
}
.glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
    max-width: fit-content;
}
.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0);
}
.glitch:before {
    left: -1px;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}
.glitch:after {
    left: 1px;
    text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}
.glitch:hover:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}
@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
   }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
   }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
   }
    75% {
        clip: rect(30px, 9999px, 92px, 0);
   }
    100% {
        clip: rect(91px, 9999px, 98px, 0);
   }
}
@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
   }
    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0);
   }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
   }
    75% {
        top: 0px;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0);
   }
    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0);
   }
}

#check-bg{
    background-image: url("../img/37030.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    position: relative;
}

#checklist-frame{
    min-height: 500px;   
    background-color:rgba(230, 230, 230, 0.85);
    margin: auto;
}

.check-checked{
    height: auto;
    display: block;
}

#checklist-frame table td,tr{
    text-align: center;
}
