html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#map-div{
    background-repeat: no-repeat;   
    height: 800px;
    width: 1400px;
    background-size: contain;
}
#main-frame{
    background-image: url("../img/map.png");
    background-repeat: no-repeat;   
    background-size:contain;
    background-position: center top;
    background-origin: content-box, padding-box;
    height: 800px;
    width: 1400px;
    max-width: 100%;
    position: relative;
}


.dropdiv{
    position: absolute;
    opacity: 0.4;
    max-width: 100%;
}

/* Droppables */
#droppable_na{
    background-color: yellow;
    width: 27%;
    height: 32%;
    top: 3%; 
    left: 6%;
    border-radius: 150px;
}

#droppable_sa{
    width: 40%;
    height: 33%;
    background-color: brown;
    top: 44%;
    left: 4%;
    border-radius: 150px;
}

#droppable_cb{
    width: 14%;
    height: 10%;
    background-color: orange;
    top: 33%;
    left: 21%;
}
#droppable_eu{
    width: 20%;
    height: 20%;
    top: 6%;
    left: 38%;
    border-radius: 150px;
    background-color: #aadaa5;
    /* -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); */
}
#droppable_af{
    width: 16%;
    height: 45%;
    top: 33%;
    left: 50%;
    background-color: #f6dba5;
    border-radius: 100px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
#droppable_me{
    width: 10%;
    height: 10%;
    top: 29%;
    left: 56%;
    background-color: #5557de;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
#droppable_ca{
    width: 7%;
    height: 10%;
    top: 15%;
    left: 60%;
    background-color: #99235a;
    border-radius: 100px;
}
#droppable_as{
    width: 18%;
    height: 27%;
    top: 5%;
    left: 70%;
    background-color: #9c1d19;
    border-radius: 100px;
}
#droppable_au{
    width: 28%;
    height: 20%;
    top: 45%;
    left: 69%;
    background-color: #1fbe1f;
}
#droppable_gl{
    width: 9%;
    height: 12%;
    top: 1%;
    left:35%;
    border-radius: 50px;
    background-color: #5edea5;
}
#droppable_ar{
    width: 80%;
    height: 12%;
    top: 75%;
    left:10%;
    background-color: #56dff5;
}
#droppable_sea
{
    width: 18%;
    height: 15%;
    top: 30%;
    left:70%;
    background-color: #56dff5;
}

/*Draggables*/
.draggable{

}

#draggable_na{
    width: 46%;
    height: auto;
}

#draggable_sa{
    width: 48%;
    height: auto;
}

#draggable_cb{
    width: 23%;
    height: auto;
}
#draggable_eu{
    width: 30%;
    height: auto;
}
#draggable_af{
    width: 37%;
    height: auto;
}
#draggable_me{
    width: 18%;
    height: auto;
}
#draggable_ca{
    width: 12%;
    height: auto;
}
#draggable_as{
    width: 40%;
    height: auto;
}
#draggable_au{
    width: 34%;
    height: auto;
}
#draggable_gl{
    width: 15%;
    height: auto;
}
#draggable_sea{
    width: 22%;
    height: auto;
}
#draggable_ar{
    width: 80%;
    height: auto;
}