html{
    min-width: 250px;
}
body {
    text-align: center;
    margin: 0;
    min-width: 440px;
    width: 100%;
    background: url(../img/37030.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#secondsPassed{
    text-align: left;
    position: fixed;
    right: 5px;
    z-index: 15;
}

.dropDiv {
    position: relative;
    /* float: left; */
    min-width: 250px;
    width: 500px; 
    margin: auto;
    background-color: whitesmoke;
    border-radius: 37%;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

#map {
    width: 100%;
    height: auto;
    margin: 0; 
}

.list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 5% 20px 5%;
    background: rgba(0, 0, 0, 0.712);
}

.list div {
    margin: 0 -5%; 
}

.list img {
    width: 37%; 
}
#draggable2{
    width: 36%;
}
#draggable9{
    width: 41%;
}

.draggable {
    position: relative;
    z-index: 10; 
}

#droppables {
    width: 100%; 
}
#droppables .droppable {
    position: absolute; 
    opacity: 0.1;
}
#droppable1 {
    height: 30%;
    width: 25%;
    top: 8.8421%;
    left: 7.904%; 
}
#droppable2 {
    height: 35%;
    width: 30%;
    top: 49.10%;
    left: 9.4%; 
}
#droppable3 {
    height: 7.017%;
    width: 14%;
    top: 38.07%;
    left: 21.6%;
}
#droppable4 {
    height: 10.77%;
    width: 14%;
    top: 2.45%;
    left: 35.4%; 
}
#droppable5 {
    height:22.28%;
    width: 13%;
    top: 6.115%;
    left: 41.18%; 
}
#droppable6 {
    height: 40.28%;
    width: 17%;
    top: 36%;
    left: 44.4%; 
}
#droppable7 {
    height: 21.017%;
    width: 20%;
    top: 11.93%;
    left: 68.4%; 
}
#droppable8 {
    height: 20.28%;
    width: 8%;
    top: 27.035%;
    left: 56.50%; 
}
#droppable9 {
    height: 10.7719%;
    width: 80%;
    top: 85.35%;
    left: 11%; 
}
#droppable10 {
    height: 21.017%;
    width: 25%;
    top: 50.684%;
    left: 71.1%; 
}
#droppable11 {
    height: 12.017%;
    width: 10%;
    top: 16.184%;
    left: 58.8%; 
}
#droppable12 {
    height: 16.017%;
    width: 17%;
    top: 34.34%;
    left: 70.8%; 
}

@media (min-width: 1200px) {
    #beforeText{
        width: 30%;
    }
}
@media (max-width: 1200px) {
    .dropDiv {
        width: 450px; 
    }
    .list img {
        width: 33.5%; 
    } 
    #draggable2 {
        width: 33%;
    }
    #draggable9 {
        width: 44%;
    }
    #beforeText{
        width: 30%;
    }
}

@media (max-width: 992px) {
    .dropDiv {
        width: 400px; 
    }
    .list img {
        width: 29%; 
    } 
    #draggable2 {
        width: 29%;
    }
    #draggable9 {
        width: 39%;
    }
    #beforeText{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .dropDiv {
        width: 300px; 
    }
    .list img {
        width: 21.5%; 
    }
    #draggable2 {
        width: 22%; 
    }
    #draggable9{
        width: 40%;
    }
    #beforeText{
        width: 100%;
    }
}

@media (max-width: 700px) {
    .dropDiv {
        float: none;
        margin: 0 auto; 
    }
    .list li {
        margin: 0 -8%; 
    }
    .list img {
        width: 22.5%; 
    }
    #draggable2 {
        width: 21.5%; 
    }
    #draggable9{
        width: 36%;
    }
    #beforeText{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .dropDiv {
        float: none;
        margin: 0 auto; 
    }
    .list li {
        margin: 0 -8%; 
    }
    .list img {
        width: 22.5%; 
    }
    #draggable2 {
        width: 24.5%; 
    }
    #draggable9{
        width: 40%;
    }
    #beforeText{
        width: 100%;
    }
}

@media (max-width: 556px) {
    .dropDiv {
        width: 250px; 
    }
    .list {
        margin-top: 10px; 
    }
    .list img {
        width: 20.25%; 
    } 
    #draggable2 {
        width: 23.25%; 
    }
    #draggable9{
        width: 42.5%;
    }
    #beforeText{
        width: 100%;
    }
}


@media (max-width: 490px) {
    .dropDiv {
        width: 250px; 
    }
    .list {
        margin-top: 10px; 
    }
    .list img {
        width: 23.15%; 
    } 
    #draggable2 {
        width: 28.25%; 
    }
    #draggable9{
        width: 41%;
    }
    #beforeText{
        width: 100%;
    }
}

#beforeGame{
    position: fixed;
    background-color: rgba(64, 64, 65, 0.8);   /*  70% opaque green */
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}
#beforeText{
    background-color: white;
    min-height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 2% 5% 2% 5%;
}

#goBack{
    z-index: 100;
}